@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: 'Miami';
  src: url(../fonts/miama/Miama.ttf);
}
body {
  font-family: "Inter", sans-serif;
  margin-bottom: 100px;
  background-color: black;
}
* {
  margin: 0;
}
/* shared styles */
.title {
  font-size: 3rem;
  font-weight: 900;
}
.subtitle {
  font-size: 1.125rem;
  font-weight: 600;
}
.description {
  font-size: 0.875rem;
}
.primary-font-color {
  color: rgba(255, 255, 255, 0.5);
}
.display-flex {
  display: flex;
}
.btn-primary {
  background-color: rgba(230, 83, 60, 1);
  color: white;
  border: none;
  border-radius: 42px;
  padding: 16px 45px;
  font-size: 1.125rem;
  font-weight: 600;
}
.btn-secondary {
  background-color: black;
  border: white;
  color: white;
  border-radius: 42px;
  padding: 16px 45px;
  font-size: 1.125rem;
  font-weight: 600;
  margin-left: 15px;
}
/* header styles */
header {
  background-color: rgba(48, 48, 48, 0.54);
  /* max-width: 100vw; */
  background-image: linear-gradient(180.00deg,rgba(17, 17, 17, 1),rgba(119, 119, 119, 0));
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-right: 50px;
}
/* nav styles */
.navbar {
  max-width: 1150px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.25rem;
  color: rgba(230, 83, 60, 1);
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 45px;
}
.nav-btn {
  margin: 0 20px;
}
.nav-responsive {
  display: none;
}
.banner-container {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 95px;
}
.banner-left-btn-container {
  margin-bottom: 70px;
}
.banner-title {
  font-size: 4.8rem;
  color: white;
  margin-bottom: 25px;
}
.banner-description {
  margin-bottom: 25px;
}
.banner-right img {
  width: 100%;
}
.badge1 {
  background-color: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  color: white;
  border-radius: 12px;
  backdrop-filter: 20%;
  width: 150px;
  padding: 20px 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 520px;
  top: 130px;
}
 .badge1 h3 {
  font-size: 2.5rem;
  margin-right: 0px;
 }
.badge2 {
  width: 205px;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  color: white;
  border-radius: 12px;
  backdrop-filter: 20%;
  padding: 20px 23px;
  gap: 10px;
  position: relative;
  left: 130px;
  top: 300px;
}
.badge2 h1{
  font-size: 2.5rem;
}
/* change-habit styles */
.change-habit {
  max-width: 1100px;
  margin: 100px auto;
  text-align: center;
  color: white;
}
.change-habit-txt {
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.change-habit-txt h3 {
  margin-bottom: 1rem;
}
.change-habit-imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  border: 2px solid red;
}
.change-habit-imgs img {
  border-radius: 50%;
}
.change-habit-img {
  max-width: 230px;
}
/* run an extra mile styles */
.extra-mile-container {
  max-width: 1100px;
  border-radius: 18px;
  background-color: rgba(34, 34, 34, 1);
  margin: 100px auto;
  padding: 30px;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.extra-mile-txt {
  max-width: 450px;
}
.extra-mile-txt h3 {
  margin-bottom: 1rem;
}
.extra-mile-txt p {
  margin-bottom: 2rem;
}
.extra-mile-img {
  max-width: 365px;
}
.extra-mile-img img {
  width: 100%;
  border-radius: 18px;
}
@media screen and (max-width: 576px) {
  .change-habit {
    padding: 20px;
  }
  .nav-links {
    display: none;
  }
  .nav-responsive {
    display: contents;
    width: 100%;
    height: 100%;
    color: white;
  }
  .banner-container {
    flex-direction: column;
    margin-top: 50px;
    max-width: 100vw;
  }
  .banner-title {
    font-size: 2rem;
  }
  .btn-secondary {
    padding: 16px 20px;
  }
  .banner-right {
    background-size: cover;
  }
  .badge1 {
    left: 200px;
    top: 410px;
  }
  .badge1 h1 {
  font-size: 1.8rem;
 }
  .badge2 {
    left: 0px;
    top: 500px;
  }
  .change-habit-txt h3 {
    font-size: 2rem;
  }
  .change-habit-imgs {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }
}
